/*   
ajax popup form Version 1.0.1
Tools URI: http://www.birghtyoursite.com
Description:  ajaxpopupform  is a jquery based cool , professional popup window which can be used as contact , feedback бн forms on your websites .
Author: alex wang
Author URI: http://www.birghtyoursite.com/
*/

body 
{
	 /*font-family:Verdana,Tahoma,Arial;
   background:#c0c0c0;
	font-size:13px;*/
	margin:0px;
	padding:0px;
	
}
li
{
 list-style:none;
} 
#bidform{
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	word-spacing:-0.04em;
	position:absolute;
	left:36%;
	top:80px;
}
.bidform{
	width:350px;
	border:1px solid #d1d1d1;
	color:#333;
	background:#fff;
	z-index:999;
}
.bidform img
{
	border:0px;
}
 
.bidforminner
{
	/* padding:10px;*/
}
.bidform h2 {
border:1px solid #fff;
padding-left:70px;
background:#c00000;
color:#fff;
/*background:transparent url(../images/icon_alerts_tick.png) no-repeat scroll 0 0;*/
border-bottom:1px solid #CCCCCC; 
height:50px;
line-height:50px;
margin:0px;
margin-bottom:10px;
padding:0;
text-align:left;
font-size:16px;
font-weight:normal; 
font-family:Arial, Helvetica, sans-serif; 
word-spacing:-0.04em;
text-transform:uppercase;
text-align:center;
}
.bidform a.button {
	float:right;
}
.bidform h4 ,.bidform h5
{
	font-size:1em;
	margin:0px;
	padding:0px 10px 0;
	font-weight:normal;
}
.bidforminner fieldset
{
	padding:0px;
	margin:5px 15px;
	border:0px;
} 
 
.bidforminner label {
 color: #565656;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.bidforminner  .field {
/*background-color:#DEE0E1;padding:3px; */
margin-bottom:10px;
margin-top:3px;

position:relative;
}
.bidforminner input, .bidforminner textarea {
   background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #E7E7E7;
width:304px;  
display:block;
padding:7px; 
}
.bidforminner .checkbox input {

margin-right:0.1em;
vertical-align:bottom;
}
.bidforminner fieldset.checkbox input, .bidforminner #recommend-radios input {
margin:0 0.2em 0.2em 0;
vertical-align:middle;
display:inline;
width:20px;
}
.bidforminner #recommend-radios input
{
	margin-left:10px;
}
.bidforminner ul {
	margin-bottom:0.5em;
	overflow:hidden;
}
.bidform .buttons {
	background-color:#f8f8f8;
	height:85px;
	/*line-height:50px;*/
	border-top:1px solid #d1d1d1;
	position:relative;
	margin-top:10px;
	padding:10px 0 0;
}
.star-rating, .star-rating a:hover, .star-rating a:active, .star-rating a:focus, .star-rating .current-rating {
background:transparent url(images/rate-star.png) repeat-x scroll left -1000px;
}
.star-rating {
background-position:left top;
height:10px;
line-height:10px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
overflow:hidden;
padding:0;
position:relative;
width:50px;
}

.star-rating li {
display:inline;
background:none;
}
 
.star-rating a, .star-rating .current-rating {
border:medium none;
cursor:pointer;
display:block;
height:10px;
left:0;
line-height:10px; 
outline-style:none;
outline-width:medium;
overflow:hidden;
position:absolute;
text-indent:-1000em;
top:0;
}
.star-rating a:hover, .star-rating li:hover a {
background-position:left -20px;
cursor:pointer;
}
.star-rating a.star1 {
width:20%;
z-index:6;
}
.star-rating a.star2 {
width:40%;
z-index:5;
}
.star-rating a.star3 {
width:60%;
z-index:4;
}
.star-rating a.star4 {
width:80%;
z-index:3;
}
.star-rating a.star5 {
width:100%;
z-index:2;
}
.star-rating .current-rating {
background-position:left -10px;
z-index:0;
}
.rating-inline h5 {
border:medium none;
float:left;
padding-top:0;
width:45%;
margin:0px;
padding:0px;
}
.rating-inline ul.star-rating li {
margin:0;
}
.rating-inline {
border-bottom:1px solid #CCCCCC;
margin-bottom:6px;
overflow:hidden;
width:100%;
}
.rating-inline ul.star-rating {
float:right;
}
.rating-module .last {
border-bottom:1px solid #CCCCCC;
margin-bottom:10px;
} 

.bidform .button {
/*padding-right:0;*/
}
 
.bidform .button {
float:right;
/*margin:1em;*/
}
 
a.button {
display:inline;
float:left;
font-size:11px;
line-height:11px;
overflow:hidden;
padding-left:18px;
}
 
 
 
a.button, a.button span.inner {
 
background:transparent url(../images/all-buttons-sprite.png) no-repeat scroll left top;
}
 
a.default, a.button {
	color:#333333;
	font-weight:bold;
}

 .submit-button {
left:15px;
}
 
.submit-button {
	float:left;
	position:relative;
	z-index:1;
	left:140px;
	right:0;
}
.bidform  .clsBut {
    background: url("../images/popup_but.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF !important;
    display: block;
    float: left;
	width:74px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    text-align: center;
	text-transform:capitalize;
	font-weight:bold;
}

a.button span.inner, a.active span.inner {
background-position:right -44px;
cursor:pointer;
display:block;
float:left;
height:16px;
padding:6px 8px 5px 0;
position:relative;
white-space:nowrap;
width:auto;
}
 
 .buttons a.cancel {
position:absolute;
right:0;
}
a.cancel  {
/*background-position:left -106px;
padding-left:21px;*/
}
a.cancel span.inner  {
background-position:right -66px;
padding:4px 8px 5px 0;
}
#ajaxformbtn
{
	 position:fixed;
	 bottom:0px;
	 right:0px;
	 cursor:pointer;
} 
a img
{
	border:0px;
}
#bidform-success div.inner
{
	/* padding:10px; */
}
fieldset.pof-error {
/*background-color:#FFE5E6;
margin-left:-5px;
margin-right:-5px;*/
padding:5px 0;
}
.errormsg
{
	display:block;
	color:Red;
	margin:2px 0px;
}
 
.bidforminner input#help-us-terms{
 width:auto;
 float:left;
 
 }
 .bidformwrapper{
	 box-shadow:0 2px 5px #ccc;
 }
.ajaxpopforminner h3{
	 font:bold 25px Arial, Helvetica, sans-serif;
	 line-height:30px;
	 color:#c00000;
	 text-transform:uppercase;
}

.ajaxpopforminner h3 span{
	float:right;
}