.transparent{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:1 !important;
	background-color:black;
	filter: alpha(opacity=75); /* internet explorer */
	-khtml-opacity: 0.75;      /* khtml, old safari */
	-moz-opacity: 0.75;       /* mozilla, netscape */
	opacity: 0.75; 
}
.mandatory_label{
	color:red;
}
.mandatory{
	color:red;
}
.ajax_loader{
	left: 46%;
    position: absolute;
    top: 40%;
    z-index: 9999999999;
	display:none;
}

.clsCount{
	width:auto;
}
.clsCount li span {
    background: none repeat scroll 0 0 #C00000;
    color: #FFFFFF;
    float: right;
    font: bold 12px Arial,Helvetica,sans-serif;
    padding: 2px 5px;
    position: relative;
    right: 0;
    top: -15px;
	left:-3px;
}
.active{
	font-weight:bold;
	color:#B32323;
}

/* job view */
a.tooltip {outline:none; } a.tooltip strong {line-height:30px;} 
a.tooltip:hover {text-decoration:none;} 
a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:60px; margin-left:-160px; width:240px; line-height:16px; } 
a.tooltip:hover span{ display:inline; position:absolute; border:2px solid #FFF; color:#EEE; background:#000 url(src/css-tooltip-gradient-bg.png) repeat-x 0 0; } .callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;} /*CSS3 extras*/ a.tooltip span { border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -moz-box-shadow: 0px 0px 8px 4px #666; -webkit-box-shadow: 0px 0px 8px 4px #666; box-shadow: 0px 0px 8px 4px #666; opacity: 0.8; }

#tabs ul li,#tabs ul li.active, #tabs ul li:hover{
	/*width:auto;*/
}
#tabs ul li.active, #tabs ul li:hover,#tabs ul li{
	background:none;
}
ul.ui-tabs-nav{
    left: 180px;
    margin: 0 auto;
    position: relative;
    right: 0;
    text-align: center;
    width: 500px;
}
#tabs ul li{
	margin:0 4px 0 0 !important;
}
.clsBidDelivery{
	width:160px !important;
}

.clsIcons{

margin-right:20px;

}
#main .clsInnerpageCommon h2 {
    background:none;
    border:none;
    color: hsl(199, 97%, 45%) !important;
    font-size: 30px !important;
    padding: 0px !important;
}
.clsHeadingRight{
	background:#f3f3f3;
	border:1px solid #d5dbdb;
	top:10px !important;
}
.clsHeadingRight span.clsManage a{
	border-left:1px solid #d5dbdb;
	border-right:1px solid #d5dbdb;
}
.clsHeadingRight span a {
	color:#000 !important;
	padding:5px !important;
	display:block;
}
.clsHeadingRight span a:hover{
	color:#039BE2!important;
}

.clsLeftPost{
	width:100%;
	float:left;
}
.clsRightPost{ 
	float:right;
	border:1px solid #cbcbc9;
	padding:5px;
	width:27%;
}
.clsInnerCommon h2{
	margin:0;
}
.clsHeads{
	background: url("images/viewh_bg.jpg") repeat-x scroll 0 0 transparent;
	height:59px;
	line-height:59px;
	padding:0 0 0 10px!important;
}
.clsGigStatus{
	width:326px;
	height:137px;
	border:none;
	padding:10px;
}
.BidDetails li .BidBox{
	background: url("images/bidbox.png") no-repeat scroll 0 0 transparent !important;
	width:336px;
	height:147px;
	border:none;
	padding:10px 10px 0;
}
#tabs ul li {
    margin: 0 4px 0 0 !important;
}
#tabs ul li.active, #tabs ul li:hover, #tabs ul li {
    background: none repeat scroll 0 0 transparent;
}
#tabs ul li, #tabs ul li.active, #tabs ul li:hover {
    /*width: auto;*/
}
#tabs ul li {
    background: url("images/s_li.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 33px;
    text-align: center;
    width: 123px;
}
#tabs #selCommentpost ul li{
	width:22% !important;
}
#tabs #selCommentpost .BidDetails li.clsNoBorder {
    border: none !important;
}

#tabs #selCommentpost .BidDetails li .buttonPostBid{
	margin: 0 0 0 50px !important;
}
#tabs li span.clsCount {
    background: url("images/cmnt_bg.png") no-repeat scroll left 0 transparent;
    color: #FFFFFF;
    display: block;
    height: 22px;
    left: 100px;
    line-height: 22px;
    position: relative;
    right: 0;
    top: -45px;
    width: 26px;
}
.dt0 {
    border-left: 1px solid #FDFDFD !important;
}
.dt1 {
    background-color: #FDFDFD;
    border-left: 1px solid #DBDBDD;
    padding: 0.5em 0 0.5em 4px;
}
.dt1, .dt2 {
    border-top: 1px dashed #CCCCCC !important;
}
.dt2, .dt1, dt0 {
    border-left: 0 none !important;
}

.job_title{
	color: #333333;
    font-family: "Century Gothic";
    font-size: 30px;
    font-weight: 700;
    padding: 0 !important;
}

.underline_title{
	border-bottom: 2px solid #999999;
    height: 11px;
    width: 100%;
    z-index: 999999;
}

.header_txt_h4{
	border: 0 none;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

.header_tsubxt_h4{
	border: 0 none;
    color: #8D8D8D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
}
.header_tsubxt_h3{
	border: 0 none;
    color: #8D8D8D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
	text-align:right;
	margin-top: 20px;
}

.underline_subtitle{
	background-color: #FFFFFF;
    border-bottom: 1px dotted #C1C1C1;
    height: 5px;
    position: relative;
    width: 582px;
}

.jobDesc-bd{
	border: 1px solid #D7D7D7;
    margin-top: 10px;
    padding: 15px;
    position: relative;
    width: 580px;
	float:left;
}
.proj_descr{
	 color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 12px;
	min-height: 60px;
	text-align: justify;
}

.post_by{
	padding-top: 12px;
	position:relative;
}
.paddless{
	margin-top:0px;
}
.width_rating{
	width: 496px;
}
.verify_class{
	position: absolute;
    right: 0;
    top: 92px;
}
.view_more_less{
	color:#000099;
	text-decoration:underline;
	cursor:pointer;
}
.job_details{
	border: 1px solid #D7D7D7;
    margin-top: 10px;
    padding: 15px;
    position: relative;
    width: 305px;
	float:right;
}

.pstatus{
	position: absolute;
	right: 14px;
}

.underline_subtitle1{
	background-color: #FFFFFF;
    border-top: 1px dotted #C1C1C1;
    height: 20px;
    position: relative;
    width: 100%;
}

.datepick-popup{
	z-index:999999999;
}

.rating_absolute{
	position:absolute;
	right:0;
}

#byer_length, #selerhometbl_length {
    width: 200px; 
    float: left;
}

/* View Job page : tooltip*/
 a.tooltip { outline:none; } 
 a.tooltip strong { line-height:30px;} 
 a.tooltip:hover { text-decoration:none;} 
 a.tooltip span { z-index:10;display:none; padding:14px 20px; margin-top:60px; margin-left:-160px; width:240px; line-height:16px; } 
 
 a.tooltip:hover span{ display:inline;  border:2px solid #FFF; color:#EEE; background:#000 url(src/css-tooltip-gradient-bg.png) repeat-x 0 0; } 
 
  /*
 a.tooltip span { 
	z-index:10;display:none;
	left: -83px;
    line-height: 16px;
    padding: 14px 20px;
    position: absolute;
    top: -50px;
    width: 240px;
	z-index:9999999;
} 	
*/
 .callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;} 
 
 /*CSS3 extras*/ 
 a.tooltip span { 
	border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; 
	-moz-box-shadow: 0px 0px 8px 4px #666; -webkit-box-shadow: 0px 0px 8px 4px #666; box-shadow: 0px 0px 8px 4px #666; opacity: 0.8; }
 </style>
<style>
#tabs ul li,#tabs ul li.active, #tabs ul li:hover{
	width:auto;
}
#tabs ul li.active, #tabs ul li:hover,#tabs ul li{
	background:none;
}
ul.ui-tabs-nav{
    left: 180px;
    margin: 0 auto;
    position: relative;
    right: 0;
    text-align: center;
    width: 500px;
}
#tabs ul li{
	margin:0 4px 0 0 !important;
}
.clsBidDelivery{
	width:160px !important;
}

.clsIcons{

margin-right:20px;

}
#main .clsInnerpageCommon h2 {
    background:none;
    border:none;
    color: hsl(199, 97%, 45%) !important;
    font-size: 30px !important;
    padding: 0px !important;
}
.clsHeadingRight{
	background:#f3f3f3;
	border:1px solid #d5dbdb;
	top:10px !important;
}
.clsHeadingRight span.clsManage a{
	border-left:1px solid #d5dbdb;
	border-right:1px solid #d5dbdb;
}
.clsHeadingRight span a {
	color:#000 !important;
	padding:5px !important;
	display:block;
}
.clsHeadingRight span a:hover{
	color:#039BE2!important;
}

.clsLeftPost{
	width:100%;
	float:left;
}
.clsRightPost{ 
	float:right;
	border:1px solid #cbcbc9;
	padding:5px;
	width:27%;
}
.clsInnerCommon h2{
	margin:0;
}


.clsGigStatus{
	border: medium none;
    height: 137px;
    padding: 10px;
    width: 296px;
}
.BidDetails li .BidBox{
	background: url("images/bidbox.png") no-repeat scroll 0 0 transparent !important;
	width:336px;
	height:147px;
	border:none;
	padding:10px 10px 0;
}

.dt0 {
    border-left: 1px solid #FDFDFD !important;
}
.dt1 {
    background-color: #FDFDFD;
    border-left: 1px solid #DBDBDD;
    padding: 0.5em 0 0.5em 4px;
}
.dt1, .dt2 {
    border-top: 1px dashed #CCCCCC !important;
}
.dt2, .dt1, dt0 {
    border-left: 0 none !important;
}
.buttonPostBid {
    background: url("images/award_icon.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 0px;
    height: 29px;
    line-height: 29px;
	margin:3px 0 0;
  /*  margin: 0 0 0 20px;*/
	padding:0;
    text-align: center;
    text-transform: capitalize;
    width: 84px;
	height:30px;
	cursor:pointer;
}
.edit_option{
	color: #787800;
    font-size: 11px;
    left: 145px;
    position: absolute;
    top: 14px;
	cursor:pointer;
}
.edit_option a{
	color:#B32323;
	text-decoration:underline;
}
.view_details{
	position:relative;
}
.pr_edit{
	position:relative;
}

.separator{
	border-bottom:1px solid #EEEEEE;
	padding:2px;
}

.view_details span{
	color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
	width:300px;
	float:right;
	width:595px;
}


